* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
:root {
  font-family: "Mali", cursive;
  font-size: 2rem;
  color: #00004b;
}
body {
  background: linear-gradient(45deg, #ffad46 0%, #ffd56a 100%);
  width: 100vw;
  height: 100vh;
}
.header__title-separator {
  height: 5px;
  width: 100%;
  background-color: #ff0033;
  margin: 10px auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  margin-bottom: 30px;
}
nav ul {
  display: flex;
  gap: 30px;
}
button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav__dropdown {
  display: inline-block;
  position: relative;
}
.nav__dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 20px 0 rgba(66, 62, 75, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
}
.nav__dropdown-content a {
  text-decoration: none;
  text-align: center;
  padding-inline: 10px;
  padding-block: 5px;
  color: rgb(255, 255, 255);
}

.nav__dropdown-btn {
  border-radius: 10px;
  padding-block: 5px;
  padding-inline: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 20px 0 rgba(66, 62, 75, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav__dropdown-btn:hover,
.nav__dropdown-btn:focus {
  border: 1px solid black;
}

.nav__dropdown-content > a:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 20px 0 rgba(66, 62, 75, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.web__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.web_descripton-text {
  font-family: "Mali", cursive;
  color: #00004b;
  text-align: center;
  max-width: 50%;
}
